<div class="w-100 h-100">
  <!-- WEB -->
  <div class="w-100">
    <div class="w-100">
      <div class="cen-x">
        <span class="f-24px fw-b c-bk t-l">CONTACT INFO</span>
      </div>
    </div>
    <!-- Phone number -->
    <div class="w-100">
      <div class="mt-30px w-100_100px cen-x bo-1px c-bdbdbd">
        <div class="cen-x">
          <input class="f-24px c-bdbdbd t-c" placeholder="{{nailShop.tel}}" ng-model="updatedNailShop.tel"/>
        </div>
      </div>
    </div>
    <!-- Kakao -->
    <div class="w-100">
      <div class="mt-5px w-100_100px cen-x bo-1px c-bdbdbd">
        <div class="cen-x">
          <input class="f-24px c-bdbdbd t-c" placeholder="{{nailShop.kakao}}" ng-model="updatedNailShop.kakao"/>
        </div>
      </div>
    </div>
    <!-- Address -->
    <div class="w-100">
      <div class="mt-5px w-100_100px cen-x bo-1px c-bdbdbd">
        <div class="cen-x">
          <input class="f-24px c-bdbdbd t-c" placeholder="{{nailShop.location}}" ng-model="updatedNailShop.location"/>
        </div>
      </div>
    </div>
  </div>

</div>
