<div class="w-100 h-100">
  <!-- WEB -->
  <div class="w-100 d-n-X450">
    <div class="w-100">
      <div class="cen-x">
        <span class="f-24px fw-b c-bk t-l">OPENING TIME</span>
      </div>
    </div>
    <!-- WEEKDAYS -->
    <div class="w-100">
      <div class="mt-30px w-100_100px cen-x bo-1px c-bdbdbd">
        <div class="cen-x">
          <input class="f-24px c-bdbdbd t-c" placeholder="{{nailShop.time_weekdays}}" ng-model="updatedNailShopPrice.time_weekdays"/>
        </div>
      </div>
    </div>
    <!-- WEEKENDS -->
    <div class="w-100">
      <div class="mt-5px w-100_100px cen-x bo-1px c-bdbdbd">
        <div class="cen-x">
          <input class="f-24px c-bdbdbd t-c" placeholder="{{nailShop.time_weekend}}" ng-model="updatedNailShopPrice.time_weekend"/>
        </div>
      </div>
    </div>
  </div>
</div>
