<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>네일 이로하</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta name="description" content="빛나는 색을 입혀드립니다 - 1:1시술 압구정네일샵, 압구정네일, 압구정네일전문">
    <meta name="keywords" content="네일, 네일아트 , 네일샵, 페디큐어, 젤네일, 압구정네일, 압구정네일전문, 압구정네일샵, 압구정네일샵추천, 압구정로데오네일, 압구정로데오네일샵, 압구정로데오네일샵추천, 로데오네일샵, nail, nailart,
    네일샵 추천, 압구정 네일샵, 젤네일 전문, 글리터네일, 스팽글네일, 유니크네일, 네일케어, 신사동네일, 신사네일, 신사네일샵, 신사역네일, 신사역네일샵">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://nailiroha/">
    <meta property="og:title" content="네일 이로하 - 압구정네일샵">
    <meta property="og:site_name" content="네일 이로하 - 압구정네일샵">
    <meta property="og:description" content="네일 이로하 - 빛을 입혀드립니다. 일상의 소소함에서 소중하게 간직하고 싶은 순간까지, 모든 순간에 찬란할 빛.">
    <link rel="alternate" type="application/rss+xml" title="네일 이로하 - 압구정네일샵" href="http://nailiroha/feed.xml">
    <!-- naver -->
    <meta name="naver-site-verification" content="837682ab166c2c2397d4aa0351ef5165de8b5bc8"/>
    <link rel="canonical" href="http://nailiroha/" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/peki/peki.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" type="image/png" href="images/directive/nailshop_tab_basic.png">
  </head>
  <body class="d-b p-r f-l w-100vw h-100vh ng-cloak f-sf-medium" ng-app="nailShopApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- <toaster-dir class="z-3"></toaster-dir> -->
    <!-- <header-dir class="z-2" ng-show="$root.state.current.header"></header-dir> -->
    <!-- <subheader-dir class="z-2" ng-if="$root.state.current.subheader"></subheader-dir> -->

    <div ui-view class="w-100 h-100"></div>
      <!-- <div class="p-f w-100 oy-s z-1"
        ng-style="{
          'top':($root.heights.header)+'px',
          'height':'calc(100vh - ' + ( ($root.heights.header ) || 0 ) + 'px)'
        }" style="-webkit-overflow-scrolling:touch;">
      </div> -->
    <footer-dir class="w-100 mt-120px z-2" ng-if="$root.state.current.footer"></footer-dir>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/peci/peci.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/angular-inview/angular-inview.js"></script>
    <script src="bower_components/angular-url-parser/angular-url-parser.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->


    <!-- MAP -->

    <script src="//openapi.map.naver.com/openapi/v3/maps.js?clientId=z3MV9X8V935Za4pYxliH&submodules=geocoder"></script>


    <!-- CORE -->

    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>


    <!-- DIALOG -->

    <script src="scripts/controller/dialog.js"></script>


    <!-- SERVICE -->

    <script src="scripts/service/apiS.js"></script>
    <!-- <script src="scripts/service/responseS.js"></script> -->
    <script src="scripts/service/stateS.js"></script>
    <script src="scripts/service/scrollS.js"></script>
    <script src="scripts/service/storageS.js"></script>
    <script src="scripts/service/variableService.js"></script>


    <!-- DIRECTIVE -->

    <script src="scripts/directive/headerDir.js"></script>
    <script src="scripts/directive/footerDir.js"></script>


    <!-- LANDING -->

    <script src="scripts/landing/landing.js"></script>
    <script src="scripts/landing/directive/titleLandingDir.js"></script>


    <!-- COVER -->

    <script src="scripts/landing/cover/coverLandingDir.js"></script>
    <script src="scripts/landing/cover/imageCoverLandingDir.js"></script>
    <script src="scripts/landing/cover/titleCoverLandingDir.js"></script>


    <!-- ABOUT -->

    <script src="scripts/landing/about/aboutLandingDir.js"></script>


    <!-- STYLEBOOK -->

    <script src="scripts/landing/stylebook/stylebookLandingDir.js"></script>
    <script src="scripts/landing/stylebook/imagesStylebookLandingDir.js"></script>
    <script src="scripts/landing/stylebook/imageStylebookLandingDir.js"></script>
    <script src="scripts/landing/stylebook/buttonStylebookLandingDir.js"></script>


    <!-- PRICE -->

    <script src="scripts/landing/price/priceLandingDir.js"></script>
    <script src="scripts/landing/price/listsPriceLandingDir.js"></script>
    <script src="scripts/landing/price/listPriceLandingDir.js"></script>
    <script src="scripts/landing/price/imagesPriceLandingDir.js"></script>
    <script src="scripts/landing/price/imagePriceLandingDir.js"></script>


    <!-- RESERVATION -->

    <script src="scripts/landing/reservation/reservationLandingDir.js"></script>


    <!-- CONTACT -->

    <script src="scripts/landing/contact/contactLandingDir.js"></script>
    <script src="scripts/landing/contact/mapContactLandingDir.js"></script>
    <script src="scripts/landing/contact/detailContactLandingDir.js"></script>
    <script src="scripts/landing/contact/infoContactLandingDir.js"></script>
    <script src="scripts/landing/contact/timeContactLandingDir.js"></script>


    <!-- SIGN -->

    <script src="scripts/sign/signIn.js"></script>


</body>
</html>
