<div class="w-100">
  <title-landing-dir id="section4" text="'CONTACT'"></title-landing-dir>
  <!-- WEB -->
  <div class="w-100 mb-120px-N1000 mb-60px-N500X1000 mb-40px-X500">
    <div class="w-1200D1920M100-N1000 h-600D1920M100-N1000 w-708D768M100-N500X1000 h-354D768M100-N500X1000 w-345D375M100-X500 cen-x bo-1px c-cdcdcd">
      <map-contact-landing-dir data="data" nail-shop="nailShop" class="w-50-N500 h-100-N500"></map-contact-landing-dir>
      <detail-contact-landing-dir data="data" nail-shop="nailShop" class="w-50-N500 h-100-N500"></detail-contact-landing-dir>
    </div>
  </div>
  <!-- Tablet -->
  <!-- <div class="w-100 mb-60px d-n-X500 d-n-N1000">
    <div class="w-708D768M100 h-354D768M100 cen-x bo-1px c-cdcdcd">
      <map-contact-landing-dir class="w-50 h-100"></map-contact-landing-dir>
      <detail-contact-landing-dir class="w-50 h-100"></detail-contact-landing-dir>
    </div>
  </div> -->
  <!-- APP -->
  <!-- <div class="w-100 mb-40px d-n-N500">
    <div class="w-345D375M100 cen-x bo-1px c-cdcdcd">
      <map-contact-landing-dir></map-contact-landing-dir>
      <detail-contact-landing-dir></detail-contact-landing-dir>
    </div>
  </div> -->
</div>
