<div class="w-100 h-100">
  <!-- WEB -->
  <div class="w-100 h-100 pt-100 d-n-X450">
    <div class="p-a w-100 h-100 t-0 l-0">
      <div class="w-550D600M100 cen">
        <info-contact-landing-dir data="data" nail-shop="nailShop" class="w-100 h-50"></info-contact-landing-dir>
        <time-contact-landing-dir data="data" nail-shop="nailShop" class="w-100 h-50 mt-30px"></time-contact-landing-dir>
      </div>
    </div>
  </div>
  <!-- APP -->
  <div class="w-100 pt-100 d-n-N450">
    <div class="p-a w-100 h-100 t-0 l-0">
      <div class="cen mt-15px mb-15px">
        <info-contact-landing-dir data="data" nail-shop="nailShop" class="w-100"></info-contact-landing-dir>
        <time-contact-landing-dir data="data" nail-shop="nailShop" class="w-100 mt-30px"></time-contact-landing-dir>
      </div>
    </div>
  </div>
</div>
