<div class="w-100">
  <!-- WEB -->
  <div class="w-100 d-n-X450">
    <div class="w-100">
      <div class="cen-x">
        <span class="f-24px f-18px-X1480 fw-b c-bk t-c">CONTACT INFO</span>
      </div>
    </div>
    <!-- Phone number -->
    <div class="w-100">
      <div class="mt-15px cen-x">
        <span class="f-24px f-18px-X1480 c-bk t-c" ng-if="!($root.state.current.name == 'landing/admin')">{{data.tel||nailShop.tel}}</span>
        <input class="f-24px f-18px-X1480 c-bk t-c cen-x" ng-if="($root.state.current.name == 'landing/admin')" placeholder="연락처" ng-model="data.tel"></input>
      </div>
    </div>
    <!-- KakaoTalk ID -->
    <div class="mt-15px w-100">
      <div class="cen-x">
        <div class="w-32px h-32px">
          <img class="w-32px h-32px cen" ng-src="{{data.kakaotalk_logo||nailShop.kakaotalk_logo}}"/>
        </div>
        <div class="ml-15px">
          <span class="f-24px f-18px-X1480 c-bk t-l" ng-if="!($root.state.current.name == 'landing/admin')">{{data.kakao||nailShop.kakao}}</span>
          <input class="f-24px f-18px-X1480 c-bk t-l" ng-if="($root.state.current.name == 'landing/admin')" placeholder="카톡 아이디" ng-model="data.kakao"></input>
        </div>
      </div>
    </div>
    <!-- Address -->
    <div class="w-100">
      <div class="mt-15px cen-x">
        <span class="f-24px f-18px-X1480 c-bk t-c" ng-if="!($root.state.current.name == 'landing/admin')">{{data.location||nailShop.location}}</span>
        <input class="w-100 f-24px f-18px-X1480 c-bk t-c" ng-if="($root.state.current.name == 'landing/admin')" placeholder="주소" ng-model="data.location"></input>
      </div>
    </div>
  </div>

  <!-- APP -->
  <div class="w-100 d-n-N450">
    <div class="w-100">
      <div class="cen-x">
        <span class="f-15px fw-b c-bk t-c">CONTACT INFO</span>
      </div>
    </div>
    <!-- Phone number -->
    <div class="w-100">
      <div class="mt-15px cen-x">
        <span class="f-15px c-bk t-c" ng-if="!($root.state.current.name == 'landing/admin')">{{data.tel||nailShop.tel}}</span>
        <input class="f-15px c-bk t-c cen-x" ng-if="($root.state.current.name == 'landing/admin')" placeholder="연락처" ng-model="data.tel"></input>
      </div>
    </div>
    <!-- KakaoTalk ID -->
    <div class="w-100">
      <div class="mt-15px cen-x">
        <div class="w-23px h-23px">
          <img class="w-17px h-17px cen" ng-src="{{data.kakaotalk_logo||nailShop.kakaotalk_logo}}"/>
        </div>
        <div class="mr-15px">
          <span class="f-15px c-bk t-c" ng-if="!($root.state.current.name == 'landing/admin')">{{data.kakao||nailShop.kakao}}</span>
          <input class="f-15px c-bk t-c" ng-if="($root.state.current.name == 'landing/admin')" placeholder="카톡 아이디" ng-model="data.kakao"></input>
        </div>
      </div>
    </div>
    <!-- Address -->
    <div class="w-100">
      <div class="mt-15px cen-x">
        <span class="f-15px c-bk t-c" ng-if="!($root.state.current.name == 'landing/admin')">{{data.location||nailShop.location}}</span>
        <input class="w-100 f-15px c-bk t-c" ng-if="($root.state.current.name == 'landing/admin')" placeholder="주소" ng-model="data.location"></input>
      </div>
    </div>
  </div>
</div>
