<div class="p-f b-0 l-0 w-100">
  <!-- WEB -->
  <div class="w-100 h-60px b-bk o-90 d-n-X1000">
    <!-- Logout Button -->
    <div class="p-a t-0 l-0 w-60px h-100">
      <button class="w-80 h-80 cen bor-100 c-we c-rd-H b-we-H" ng-click="logoOutButton();">
        <i class="w-100 h-100 f-24px lh-26px t-c ion-log-out"></i>
      </button>
    </div>
    <div class="w-1200D1920M100 h-100 cen-x">
      <!-- Save Button -->
      <div class="f-r w-220D1200M100 bo-1px c-we cen-y c-44BFFF-H b-we-H cr-pointer" ng-click="saveButton();">
        <button class="pt-10px pb-10px cen-x">
          <span class="f-18px lh-20px t-c">저장하고 나가기</span>
        </button>
      </div>
      <!-- Back Button -->
      <div class="f-r w-220D1200M100 mr-30px bo-1px c-we cen-y c-rd-H b-we-H cr-pointer" ng-click="cancelSite();">
        <button class="pt-10px pb-10px cen-x">
          <span class="f-18px lh-20px t-c">취소</span>
        </button>
      </div>
    </div>
  </div>
  <!-- Tablet -->
  <div class="w-100 h-60px b-bk o-90 d-n-X500 d-n-N1000">
    <!-- Logout Button -->
    <div class="p-a t-0 l-0 w-60px h-100">
      <button class="w-80 h-80 cen bor-100 c-we c-rd-H b-we-H" ng-click="logoOutButton();">
        <i class="w-100 h-100 f-24px lh-26px t-c ion-log-out"></i>
      </button>
    </div>
    <div class="w-780D1000M100 h-100 cen-x">
      <!-- Save Button -->
      <div class="f-r w-180D780M100 bo-1px c-we cen-y c-44BFFF-H b-we-H cr-pointer" ng-click="saveButton();">
        <button class="pt-10px pb-10px cen-x">
          <span class="f-15px lh-17px t-c">저장하고 나가기</span>
        </button>
      </div>
      <!-- Back Button -->
      <div class="f-r w-180D780M100 mr-30px bo-1px c-we cen-y c-rd-H b-we-H cr-pointer" ng-click="cancelSite();">
        <button class="pt-10px pb-10px cen-x">
          <span class="f-15px lh-17px t-c">취소</span>
        </button>
      </div>
    </div>
  </div>
  <!-- APP -->
  <div class="w-100 h-45px b-bk o-90 d-n-N500">
    <!-- Logout Button -->
    <div class="p-a t-0 l-0 w-45px h-100">
      <button class="w-80 h-80 cen bor-100 c-we c-rd-H b-we-H" ng-click="logoOutButton();">
        <i class="w-100 h-100 f-24px lh-26px t-c ion-log-out"></i>
      </button>
    </div>
    <div class="w-1200D1920M100 h-100 cen-x">
      <!-- Back Button -->
      <div class="f-r w-130D375M100 bo-1px c-we cen-y c-44BFFF-H b-we-H cr-pointer" ng-click="saveButton();">
        <button class="pt-5px pb-5px cen-x">
          <span class="f-12px lh-14px t-c">저장하고 나가기</span>
        </button>
      </div>
      <!-- Save Button -->
      <div class="f-r w-130D375M100 mr-30px bo-1px c-we cen-y c-rd-H b-we-H cr-pointer" ng-click="cancelSite();">
        <button class="pt-5px pb-5px cen-x">
          <span class="f-12px lh-14px t-c">취소</span>
        </button>
      </div>
    </div>
  </div>
</div>
