<div class="p-f t-0 l-0 w-100 b-we">
  <!-- WEB -->
  <div class="w-100 h-100px d-n-X1000 bs-3_3_3__bk_5">
    <div class="w-270D1920M100 h-100">
      <div class="w-90 h-80 cen">
        <img class="w-auto h-100 b-img" ng-src="{{data.cover_logo||nailShop.cover_logo}}" />
      </div>
    </div>
    <div class="f-r mr-30px cen-y">
      <div class="ml-30px cr-pointer" ng-repeat="(content_index ,content) in contents track by content_index">
        <span class="f-18px c-676767 t-l" ng-click="$root.scrollS.goElement('#section'+content_index);">{{content.title}}</span>
      </div>
    </div>
  </div>
  <!-- Tablet -->
  <div class="w-100 h-80px d-n-X500 d-n-N1000 bs-3_3_3__bk_5">
    <div class="w-180D768M100 h-100">
      <div class="w-50 h-50 cen">
        <img class="w-auto h-100 b-img" ng-src="{{data.cover_logo||nailShop.cover_logo}}" />
      </div>
    </div>
    <div class="f-r mr-30px cen-y">
      <div class="ml-15px cr-pointer" ng-repeat="(content_index ,content) in contents track by content_index">
        <span class="f-15px c-676767 t-l" ng-click="$root.scrollS.goElement('#section'+content_index);">{{content.title}}</span>
      </div>
    </div>
  </div>
  <!-- APP -->
  <div class="w-100 h-60px d-n-N500 b-we bs-3_3_3__bk_5">
    <div class="w-100_30px h-100 cen-x">
      <div class="h-15D60M100 cen-y">
        <img class="h-100 b-img" ng-src="{{data.cover_logo||nailShop.cover_logo}}"/>
      </div>
      <div class="f-r w-30px h-30px cen-y cr-pointer">
        <div class="cen">
          <i class="f-36px c-676767 t-l ion-android-menu" ng-show="!header_menu_click" ng-click="header_menu_click=true;"></i>
          <i class="f-36px c-676767 t-l ion-android-close" ng-show="header_menu_click" ng-click="closePop();"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 h-100vh b-we d-n-N500" ng-show="header_menu_click">
    <div class="w-100 mt-15px h-135px">
      <div class="cen-x">
        <img class="w-auto h-100 b-img" ng-src="{{data.cover_logo||nailShop.cover_logo}}" />
      </div>
    </div>
    <div class="xw-150px w-100 cen-x">
      <div class="cen-x" ng-repeat="(content_index ,content) in contents track by content_index">
        <div class="mt-30px">
          <span class="f-18px c-676767 t-l"  ng-click="$root.scrollS.goElement('#section'+content_index); closePop();">{{content.title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
