<div class="w-100">
  <!-- <header-dir class="z-4"></header-dir> -->
  <div class="p-f w-100 h-80px b-e0e0e0 z-6">
    <div class="f-r w-200px h-100">
      <button class="w-80px h-40px b-676767 cen" ng-click="save();">
        <div class="cen-x">
          <span class="f-18px f-wb c-we">저장</span>
        </div>
      </button>
    </div>
  </div>
  <cover-admin-landing-dir></cover-admin-landing-dir>
  <about-admin-landing-dir></about-admin-landing-dir>
  <stylebook-admin-landing-dir></stylebook-admin-landing-dir>
  <price-admin-landing-dir></price-admin-landing-dir>
  <reservation-admin-landing-dir></reservation-admin-landing-dir>
  <contact-admin-landing-dir></contact-admin-landing-dir>
</div>
