<div class="w-100">
  <!-- WEB -->
  <div class="w-100">
    <div class="w-580D780M100 bo-1px c-bdbdbd">
      <div class="mt-15px mb-15px w-100_30px cen-x">
        <input class="w-100 f-18px f-wb lh-20px c-bdbd bd t-l" placeholder="상품 이름" ng-model="updatedNailShopPrice.title"/>
      </div>
    </div>
    <div class="f-r w-190D780M100 bo-1px c-bdbdbd">
      <div class="mt-15px mb-15px w-100_30px cen-x">
        <input class="w-100 f-18px f-wb lh-20px c-bdbdbd t-l" placeholder="상품가격" ng-model="updatedNailShopPrice.price"/>
      </div>
    </div>
    <div class="w-100 mt-5px">
      <div class="w-580D780M100 bo-1px c-bdbdbd">
        <div class="mt-15px mb-15px w-100_30px cen-x">
          <textarea style="resize:none" class="w-100 f-18px f-wb lh-20px c-bdbd bd t-l" placeholder="한 줄 상품 설명" ng-model="updatedNailShopPrice.description"></textarea>
        </div>
      </div>
      <button class="f-r w-190D780M100 b-bdbdbd" ng-click="removeMenu(menu);">
        <div class="mt-15px mb-15px cen-x">
          <i class="f-18px f-wb lh-20px c-we t-l ion-android-close"></i></i>
        </div>
      </button>
    </div>
  </div>
</div>
