<div class="w-100">
  <title-landing-dir id="section3" text="'RESERVATION'"></title-landing-dir>
  <div class="z-3 w-1200D1920M100-N500 w-90-X500 cen-x">
    <div data="data" class="w-100 h-100 c-bdbdbd" id='calendar'></div>
    <!-- Reservation Info -->
    <!-- WEB -->
    <div class="mt-15px w-100 h-21px d-n-X500">
      <div class="w-50px h-100 b-5CA6C4"></div>
      <span class="ml-15px f-18px lh-20px t-l">예약완료</span>
      <div class="ml-30px w-50px h-100 bo-1px c-bdbdbd"></div>
      <span class="ml-15px f-18px lh-20px t-l">예약가능</span>
      <div class="f-r">
        <span class="f-18px lh-20px t-r">*예약문의는 아래를 확인해주세요</span>
      </div>
    </div>
    <!-- APP -->
    <div class="mt-15px w-100 h-12px d-n-N500">
      <div class="w-30px h-100 b-5CA6C4"></div>
      <span class="ml-10px f-12px lh-14px t-l">예약완료</span>
      <div class="ml-15px w-30px h-100 bo-1px c-bdbdbd"></div>
      <span class="ml-10px f-12px lh-14px t-l">예약가능</span>
      <div class="f-r">
        <span class="f-12px lh-20px t-r">*예약문의는 아래를 확인해주세요</span>
      </div>
    </div>
  </div>
</div>
