<div class="w-100">
  <!-- WEB -->
  <div class="w-100 d-n-X1000">
    <!-- IMAGE 1 -->
    <div class="w-25_6px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image1||nailShop.style_image1}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 2 -->
    <div class="w-25_6px ml-8px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage2($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image2||nailShop.style_image2}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 3 -->
    <div class="w-25_6px ml-8px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage3($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image3||nailShop.style_image3}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 4 -->
    <div class="w-25_6px ml-8px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage4($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image4||nailShop.style_image4}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 5 -->
    <div class="w-25_6px mt-8px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage5($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image5||nailShop.style_image5}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 6 -->
    <div class="w-25_6px mt-8px ml-8px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage6($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image6||nailShop.style_image6}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 7 -->
    <div class="w-25_6px mt-8px ml-8px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage7($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image7||nailShop.style_image7}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 8 -->
    <div class="w-25_6px mt-8px ml-8px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-we b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage8($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-100px lh-102px t-c cen-x ion-images"></i>
            <span class="w-100 mt-15px f-18px lh-20 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0 z-1">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image8||nailShop.style_image8}}"/>
        </div>
      </div>
    </div>
  </div>


  <!-- APP -->
  <div class="w-100 d-n-N1000">
    <!-- IMAGE 1 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image1||nailShop.style_image1}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 2 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image2||nailShop.style_image2}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 3 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image3||nailShop.style_image3}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 4 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image4||nailShop.style_image4}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 5 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image5||nailShop.style_image5}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 6 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image6||nailShop.style_image6}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 7 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image7||nailShop.style_image7}}"/>
        </div>
      </div>
    </div>
    <!-- IMAGE 8 -->
    <div class="w-50_5px">
      <div class="w-100 pt-100">
        <!-- Admin Field -->
        <div class="p-a w-100 h-100 t-0 l-0 c-828282 b-bk-H o-50-H z-2 cr-pointer"
        ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="false" ngf-select="changeStyleImage1($file);" ng-if="($root.state.current.name == 'landing/admin')">
          <div class="cen">
            <i class="f-60px lh-62px t-c cen-x ion-images"></i>
            <span class="w-100 mt-5px f-12px lh-14 t-c cen-x">이미지 업데이트</span>
          </div>
        </div>
        <div class="p-a w-100 h-100 t-0 l-0">
          <img class="w-100 h-100 b-img" ng-src="{{data.style_image8||nailShop.style_image8}}"/>
        </div>
      </div>
    </div>

</div>
