<div class="w-100">
  <!-- WEB   -->
  <div class="w-1200D1920M100 cen-x d-n-X1000">
    <image-stylebook-landing-dir data="data" nail-shop="nailShop"></image-stylebook-landing-dir>
  </div>
  <!-- TABLET   -->
  <div class="w-708D768M100 cen-x d-n-X500 d-n-N1000">
    <image-stylebook-landing-dir data="data" nail-shop="nailShop"></image-stylebook-landing-dir>
  </div>
  <!-- APP -->
  <div class="w-310D375M100 cen-x d-n-N500">
    <image-stylebook-landing-dir data="data" nail-shop="nailShop"></image-stylebook-landing-dir>
  </div>
</div>
