/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Black */
@font-face {
  font-family: sf-bk;
  src:url(../fonts/SFDisplay-Black.otf);
	src:local(※), url(../fonts/SFDisplay-Black.otf)format('opentype');
}

/** Bold */
@font-face {
  font-family: sf-b;
  src:url(../fonts/SFDisplay-Bold.otf);
	src:local(※), url(../fonts/SFDisplay-Bold.otf)format('opentype');
}

/** Heavy */
@font-face {
  font-family: sf-h;
  src:url(../fonts/SFDisplay-Heavy.otf);
	src:local(※), url(../fonts/SFDisplay-Heavy.otf)format('opentype');
}

/** Light */
@font-face {
  font-family: sf-l;
  src:url(../fonts/SFDisplay-Light.otf);
	src:local(※), url(../fonts/SFDisplay-Light.otf)format('opentype');
}

/** Medium */
@font-face {
  font-family: sf-m;
  src:url(../fonts/SFDisplay-Medium.otf);
	src:local(※), url(../fonts/SFDisplay-Medium.otf)format('opentype');
}

/** Regular */
@font-face {
  font-family: sf-r;
  src:url(../fonts/SFDisplay-Regular.otf);
	src:local(※), url(../fonts/SFDisplay-Regular.otf)format('opentype');
}

/** Semi Bold */
@font-face {
  font-family: sf-sb;
  src:url(../fonts/SFDisplay-Semibold.otf);
	src:local(※), url(../fonts/SFDisplay-Semibold.otf)format('opentype');
}

/** Thin */
@font-face {
  font-family: sf-t;
  src:url(../fonts/SFDisplay-Thin.otf);
	src:local(※), url(../fonts/SFDisplay-Thin.otf)format('opentype');
}

/** Ultralight */
@font-face {
  font-family: sf-ul;
  src:url(../fonts/SFDisplay-Ultralight.otf);
	src:local(※), url(../fonts/SFDisplay-Ultralight.otf)format('opentype');
}
.f-sf-bk {font-family:'SFDisplay-Black', sf-bk !important;}
.f-sf-b {font-family:'SFDisplay-Bold', sf-b !important;}
.f-sf-h {font-family:'SFDisplay-Heavy', sf-h !important;}
.f-sf-l {font-family:'SFDisplay-Light', sf-l, sans-serif !importßant;}
.f-sf-m {font-family:'SFDisplay-Medium', sf-m !important;}
.f-sf-r {font-family:'SFDisplay-Regular', sf-r !important;}
.f-sf-sb {font-family:'SFDisplay-Semibold', sf-sb !important;}
.f-sf-t {font-family:'SFDisplay-Thin', sf-ul !important;}
.f-sf-ul {font-family:'SFDisplay-Ultralight', sf-t !important;}
